* {
	box-sizing: border-box;
}

body {
	background-image: url(assets/concrete_seamless.png);
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

#flex {
	flex:1;
	margin:auto;
}

.navbar-inverse .navbar-brand{ 
	color: #855fa8;
}

.smallImg {
	height: 200px;
	width: 180px;
	border-radius: 90px;
	float: left;
	margin:10px;
	transform: rotateY(0deg);
	transition: 2s;

}

.smallImg:hover {
	transform:  rotateY(180deg);
	transition: 2s;
}

.smallPort {
	width: 100%;
	padding: 10px;
	display: inline-block;
	text-align: center;
}


.smallIcon {
	height: 100px;
	width: 100px;

}

.smallIcon:hover {
	opacity: .5;

}

.panel .panel-default {
	width: 100%;
}

.centerContent {
	padding: 20px 5px;
	width: 100%;
	display: inline-block;
	text-align: center;

}

.contact {
	margin: 20px;

}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

.panel-heading {
	text-align: center;
}

footer {
	clear: both;
    height: 75px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-top:  20px;
    color: #855fa8;
  
}


